#pragma once

// WiFi
const char* WIFI_SSID = "YOUR_WIFI_SSID";
const char* WIFI_PASS = "YOUR_WIFI_PASS";

// Pi Hub
const char* HUB_HOST = "http://ninja-hub.local:8888";

// Polling interval (ms)
const int POLL_MS = 3000;
